---
import AuthorCard from "@/components/AuthorCard.astro";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";

const teamIndex = await getListPage("team", "-index");

if (teamIndex.data.draft) {
  return Astro.redirect("/404");
}

const team = await getSinglePage("team");
---

<Base title={teamIndex.data.title}>
  <PageHeader title={teamIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {
          team
            .slice() // avoid mutating the original array
            .sort((a, b) => {
              const aOrder =
                typeof a.data.order === "number"
                  ? a.data.order
                  : Number.POSITIVE_INFINITY;
              const bOrder =
                typeof b.data.order === "number"
                  ? b.data.order
                  : Number.POSITIVE_INFINITY;
              return aOrder - bOrder;
            })
            .map((member) => (
              <div class="mb-14 w-[80%] md:col-4 lg:col-4">
                <AuthorCard data={member} />
              </div>
            ))
        }
      </div>
    </div>
  </section>
</Base>
