@utility bg-gradient {
  @apply bg-linear-to-b from-primary-dimmer to-body dark:from-darkmode-light-dim dark:to-darkmode-body;
}

@utility bg-gradient-secondary {
  @apply bg-linear-to-b from-light-dimmer to-body dark:from-darkmode-primary-dimmer dark:to-darkmode-body;
}

/* form style */
@utility form-input {
  @apply w-full rounded border-transparent bg-light px-6 py-4 text-text-dark placeholder:text-text-light focus:border-primary dark:focus:border-darkmode-primary focus:ring-transparent dark:border-darkmode-border dark:bg-darkmode-light dark:text-darkmode-text-light;
}

@utility form-label {
  @apply mb-4 block font-secondary text-xl font-normal text-text-dark dark:text-darkmode-text-light;
}
